@import "variables";
@import "bootstrap";

.zero-padding-margin {
  padding:0;
  margin: 0;
}
.landing-page {
  width: 1366px;
  .header {
    height: 76px;
    background: #6534ff;
    width: initial;
  }
  .attire-container {
    height: 760px;
    width: 1366px;
    .dummy-part {
      background: #e6af4b;
      height: 760px;
      width: 820px;
      padding: 0 185px;
      background-image: url(../img/default-bg.png);
      background-repeat: no-repeat;
      background-size: 500px auto;
      background-position: 160px 10px;

      i{
        position: absolute;
        bottom: 40px;
        left: 58px;
        font-size: 24px;
        color: #fff;
        webkit-animation: 4s ease-out 0s 1 normal forwards read-text-delay,4s ease 4s infinite normal forwards read-text;
        animation: 4s ease-out 0s 1 normal forwards read-text-delay,4s ease 4s infinite normal forwards read-text;
      }
      .requirement-box {
        width: 140px;
        height: 35px;
        background-color: #afbbe0;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        line-height: 35px;
      }
    }
    .details-part {
      box-sizing: content-box;
      background: #62bcfa;
      height: 760px;
      width: 546px;
      .bottom-part {
        height: 70px;
        background-color: red;
        position: absolute;
        width: 546px;
        right: 0;
        bottom: 0;
      }
      .tittle {
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
        padding: 20px;
        color: black;
      }
      .accordion-div {
        position: relative;
        left: 125px;
      }
     .check-button {
        letter-spacing: 0;
        float: right;
        display: table-cell;
        color: #051f2e;
        border: 2px solid #051f2e;
        background: #ffffff;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        width: 150px;
        height: 33px;
        font-family: ProximaNova-Regular;
        font-size: 1em;
        right: 20px;
        padding: 5px 0px;
        -webkit-transition: all ease 0.8s;
        transition: all ease 0.8s;
        position: relative;
        top: 20px;
     }
       .delivery-date {
          padding: 26px;
      }
    }
    .shirt-tooltip {
      background-image: url(../img/tooltip.png);
      background-size: 30px auto;
      position: absolute;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      top: 225px;
      left: 490px;

      p{
        position: relative;
        top: 5px;
        left: 8px;
        font-size: 13px;
        color: #fff;
      }

    }
    .shorts-tooltip {
      background-image: url(../img/tooltip.png);
      background-size: 30px auto;
      position: absolute;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      top: 400px;
      left: 460px;

      p{
        position: relative;
        top: 5px;
        left: 8px;
        font-size: 13px;
        color: #fff;
      }
    }
    .shocks-tooltip {
      background-image: url(../img/tooltip.png);
      background-size: 30px auto;
      position: absolute;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      top: 570px;
      left: 454px;

      p{
        position: relative;
        top: 5px;
        left: 8px;
        font-size: 13px;
        color: #fff;
      }
    }
    .shoes-tooltip {
      background-image: url(../img/tooltip.png);
      background-size: 30px auto;
      position: absolute;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      top: 680px;
      left: 450px;

      p{
        position: relative;
        top: 5px;
        left: 8px;
        font-size: 13px;
        color: #fff;
      }
    }
  }
}

@keyframes read-text {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    50% {
        opacity: 1;
        transform: translate(0px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
  }

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 56%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    width: 56%;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
    width: 56%;
}
