@import "variables";
@import "bootstrap";

.zero-padding-margin {
  padding:0;
  margin: 0;
}
.landing-page {
  width: 1366px;
  .header {
    height: 76px;
    width: initial;
    background-image: url("/img/header.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .attire-container {
    height: 760px;
    width: 1366px;
    .dummy-part {
      background: #e6af4b;
      height: 760px;
      width: 820px;
      padding: 0 185px;
      background-image: url("/img/default-bg.png"), url("/img/football/set1sock1.png"), url("/img/football/set1shoe1.png") , url("/img/football/set1trunk1.png"), url("/img/football/set1tshirt1.png");

      background-repeat: no-repeat;
      background-size: 500px auto;
      background-position: 160px 10px;

      i.fa-chevron-up{
        position: absolute;
        bottom: 40px;
        left: 58px;
        font-size: 24px;
        color: #fff;
        webkit-animation: 4s ease-out 0s 1 normal forwards read-text-delay,4s ease 4s infinite normal forwards read-text;
        animation: 4s ease-out 0s 1 normal forwards read-text-delay,4s ease 4s infinite normal forwards read-text;
      }
      .requirement-box {
        width: 140px;
        height: 35px;
        background-color: #afbbe0;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        line-height: 35px;
      }

      .more-sets-class {
        height: 432px;
        width: 130px;
        border: 1px solid #e1e1e1;
        padding: 5px;
        position: relative;
        top: 250px;
        left: -180px;
        box-sizing: border-box;
        .set-header {
          height: 30px;
          background-color: #afbbe0;
          padding: 0 5px;

          .caption {
            color: #fff;
            font-size: 12px;
            text-align: left;
            vertical-align: -webkit-baseline-middle;
          }
          i.fa-times {
            font-size: 17px;
            color: #fff;
            float: right;
            display: inline-block;
            -webkit-text-stroke: 0.1em #afbbe0;
            position: relative;
            top: 5px;
            cursor: pointer;
          }

        }
        .set-box-container {
          display: inline-block;
          width: 130px;
          justify-content: space-around;
          height: 400px;
          width: initial;
          .set-box {
            height: 130px;
            width: 118px;
            border: 1px solid #afbbe0;
            img {
              height: 128px;
              width: 116px;
            }
          }
        }
      }
      .similar-items-container-shorts {
         border: 1px solid rgba(0, 0, 0, 0.35);
        position: relative;
        top: -282px;
        left: 330px;
        width: 322px;
        height: 135px;
        padding: 5px;
        border-radius: 5px;
        .triangle {
          position: absolute;
          top: 42px;
          left: -10px;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right:10px solid #315ee1;
        }
        .similar-items {
          position: relative;
          top: 20px;
          height: 100px;
          width: 100px;
          display: -webkit-box;
          justify-content: space-around;
          .similar-item-div {
            margin-right: 5px;
            height: inherit;
            width: inherit;
            border: 1px solid rgba(0, 0, 0, 0.35);
            img {
              height: 98px;
              width: 98px;
            }
          }
        }
      }
      .similar-items-container {
        background: bisque;
        border: 1px solid rgba(0, 0, 0, 0.35);
        position: relative;
        top: -322px;
        left: 350px;
        width: 322px;
        height: 135px;
        padding: 5px;
        border-radius: 5px;
        .triangle {
          position: absolute;
          top: 42px;
          left: -10px;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right:10px solid #315ee1;
        }
        .similar-items {
          position: relative;
          top: 20px;
          height: 100px;
          width: 100px;
          display: -webkit-box;
          justify-content: space-around;
          .similar-item-div {
            margin-right: 5px;
            height: inherit;
            width: inherit;
            border: 1px solid rgba(0, 0, 0, 0.35);
            img {
              height: 98px;
              width: 98px;
            }
          }
        }
      }
    }
    .details-part {
      box-sizing: content-box;
      height: 760px;
      width: 546px;
      .bottom-part {
        height: 70px;
        position: absolute;
        width: 546px;
        right: 0;
        bottom: 0;
      }
      .title {
        text-align: left;
        font-size: 20px;
        padding: 12px;
        color: black;
      }
      .shirtthumb-img {
        width: 10%;
      }
      .price {
          float: right;
          font-weight: bolder;
      }
      .text {
        padding-left: 2%;
        font-size: 18px;
      }
      .size-contain {
        margin-top: 1%;
      }
      .accordion-div {
        position: relative;
        left: 125px;
      }
      .size {
        display: inline;
        background: #1e4cd2;
        height: 17px;
        border-radius: 9px;
        width: 17px;
        padding: 2px;
      }
      .detail {
        color: red;
        float: right;
        font-size: 12px;
      }
      .remove-wedgit {
        font-size: 12px;
        position: relative;
        left: 273px;
        top: -66px;
       }
      .fit {
        padding-left: 5%;
      }
     .check-button {
        letter-spacing: 0;
        float: right;
        display: table-cell;
        color: #051f2e;
        border: 2px solid #051f2e;
        background: #ffffff;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        width: 150px;
        height: 40px;
        font-family: ProximaNova-Regular;
        font-size: 1em;
        right: 20px;
        padding: 10px 0px;
        -webkit-transition: all ease 0.8s;
        transition: all ease 0.8s;
        position: relative;
        top: 20px;
     }
     .check-button:hover {
        box-shadow: inset 310px 0 0 0 #38b441;
        border: 2px solid #38b441;
        color: #fff;
        border-color: #38b441;
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition: all ease .8s;
        transition: all ease .8s;
      }
      .delivery {
        font-family: Avenir;
        font-size: 18px;
        font-weight: 300;
        color: black;
        position: absolute;
        bottom: 120px;
        left: 26px;
        .free {

        }
      }
  .cashOnDelivery {
    position: absolute;
    bottom: 90px;
    left: 26px;
    color: rgba(0, 0, 0, 0.6);
  }

       .delivery-date {
          padding: 26px;
      }
    }
    .shirt-tooltip {
      background-image: url(../img/tooltip.png);
      background-size: 30px auto;
      position: absolute;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      top: 225px;
      left: 490px;

      p{
        position: relative;
        top: 5px;
        left: 8px;
        font-size: 13px;
        color: #fff;
      }

    }
    .shorts-tooltip {
      background-image: url(../img/tooltip.png);
      background-size: 30px auto;
      position: absolute;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      top: 400px;
      left: 460px;

      p{
        position: relative;
        top: 5px;
        left: 8px;
        font-size: 13px;
        color: #fff;
      }
    }
    .shocks-tooltip {
      background-image: url(../img/tooltip.png);
      background-size: 30px auto;
      position: absolute;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      top: 570px;
      left: 454px;

      p{
        position: relative;
        top: 5px;
        left: 8px;
        font-size: 13px;
        color: #fff;
      }
    }
    .shoes-tooltip {
      background-image: url(../img/tooltip.png);
      background-size: 30px auto;
      position: absolute;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      top: 680px;
      left: 450px;

      p{
        position: relative;
        top: 5px;
        left: 8px;
        font-size: 13px;
        color: #fff;
      }
    }
  }
}

@keyframes read-text {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    50% {
        opacity: 1;
        transform: translate(0px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
  }

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 56%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    width: 56%;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
    width: 56%;
}
